<%- include("templates/header") %>

    <% if (!authenticated) { %>
        <% res.redirect('/login'); return; %>
    <% } %>

    <h1>Hello, <%= username %>.</h1>
    <img src="<%= randomImage %>">
    <form action="/logout" method="GET">
        <button type="submit">Sign out</button>
    </form>
    
<%- include("templates/footer") %>
